.navigation {
	background-color: #566573;
	overflow:  hidden;
}

.navigation span{
	/*position: relative;*/
	float:  left;
	color:  white;
	/*color:  #f2f2f2;*/
	text-align: center;
	padding: 14px 16px;
	font-size: 17px;
}

.navigation span:hover{
	/*position: relative;*/
	background-color:  #ddd;
	color:  black;
}


.body{

	background-image: url('back.jpg.jpeg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.table{
	border:  1px white;
	border-collapse:  collapse;
	padding: 6px;
	text-align: center;
}

.th{
	border:  1px solid white;
	border-collapse:  collapse;
	padding: 6px;
	text-align: center;
}

.td{
	border:  1px solid white;
	border-collapse:  collapse;
	padding: 6px;
	text-align: center;
}

.date{
	padding-right: 40px;
	text-align: right;
	color: white;
}
/*.body{
	position: relative;
	display:  flex;
	justify-content: center;
	align-items: center;
	height:  100vh;
	width:  100%;
}

.body::before{
	content: "";
	position: absolute;
	top:  0px;
	right: 0px;
	bottom:  0px;
	left:  0px;
	background-image: url('background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	opacity: 0.75;
}*/

#img{

	color: white;
	height:  200px;
	width:  180px;
}

#img2{
	color: black;
	height: 150px;
	width: 180px;
}
#img3{
	color: black;
	height: 150px;
	width: 180px;
}

#Home1{
	text-align: center;
	color: white;
}

#About1{
	display: none;
	color: white;
}

#Edu1{
	display: none;
	color: white;
}

#Works1{
	display: none;
	color: white;
}

#Cont1{
	display: none;
	color: white;
}

#ip{
	height:  25px;
	width:  300px;
	padding-top: 10px;
	padding-left: 10px;
}

#ip1{
	padding-top: 10px;
	padding-left: 10px;
	width:  300px;
	text-align: justify;
}
#get{
	text-align: center;
}

/*#date-time{
	coor: white;
	text-align: right;
}*/

.about {cursor: pointer;}
.edu {cursor: pointer;}
.works {cursor: pointer;}
.cont {cursor: pointer;}
.home {cursor: pointer;}
