.navigation {
	background-color: #566573;
	overflow:  hidden;
}

.navigation span{
	float:  left;
	color:  white;
	/*color:  #f2f2f2;*/
	text-align: center;
	padding: 15px 15px;
	font-size: 17px;
}

@media screen and (max-width: 800px){
	.navigation span{
		padding: 10px 7px;
	}
}

.navigation span:hover{
	background-color:  #ddd;
	color:  black;
}

.border{
	background-color: #566573;
	color: white;
}

.body{

	background-image: url('back.jpeg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	top:10%;
	left:30%;
	background-color: #D3D3D3;
}

.table{
	border:  1px white;
	border-collapse:  collapse;
	padding: 6px;
	text-align: center;
}

.th{
	border:  1px solid white;
	border-collapse:  collapse;
	padding: 6px;
	text-align: center;
}

.td{
	border:  1px solid white;
	border-collapse:  collapse;
	padding: 6px;
	text-align: center;
}

.date{
	padding-right: 40px;
	text-align: right;
	color: white;
}

#img{

	color: white;
	height:  200px;
	width:  180px;
}

#img2{
	color: black;
	height: 150px;
	width: 180px;
}
#img3{
	color: black;
	height: 150px;
	width: 180px;
}

.center{
	margin:auto;
	padding-top: 7%;
	padding-bottom: 7%;
	padding-right: 4%;
	padding-left: 4%;
	width: 72%;
	background-color:#D3D3D3 ;
}

@media screen and (max-width: 800px){
	.center{
		width: 92%;
	}
}

#Home1{ 
	text-align: center;
	color: black;
}

#About1{
	display: none;
	color: black;
}

#Edu1{
	display: none;
	color: black;
}

#Works1{
	display: none;
	color: black;
}

#Cont1{
	display: none;
	color: black;
}

#ip{
	height:  25px;
	width:  300px;
	padding-top: 10px;
	padding-left: 10px;
}

#ip1{
	padding-top: 10px;
	padding-left: 10px;
	width:  300px;
	text-align: justify;
}

@media screen and (max-width: 800px){
	#ip,#ip1{
		width: 90%;
	}
}
#get{
	text-align: center;
}

.about {cursor: pointer;}
.edu {cursor: pointer;}
.works {cursor: pointer;}
.cont {cursor: pointer;}
.home {cursor: pointer;}
